body{
  
  Background-image: url("Images/Background_1.jpg");
  Background-repeat: no-repeat;
  Background-position: right top;
  Background-attachment: fixed;
  
}
h1{
  Background-color: gray;
  color:  white;
  text-align: center;
  
  padding-top: 100px;
  padding-bottom: 100px;
  margin: -2em -1em 0em -1em;
  
}
h2{
  background-color: #16191b;
  color: white;
  text-align: left;
  padding: 0.5em 0em 0.5em 0em;
  margin: 0em -1em 0em -0.35em;
  
  
  
  
}

p{
  font-family:  verdana;
  font-size:  20px;
  
}